<!DOCTYPE html>
<html xmlns:th="www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="ISO-8859-1">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.3/dist/umd/popper.min.js" integrity="sha384-eMNCOe7tC1doHpGoWe/6oMVemdAVTMs2xqW4mwXrXsW0L84Iytr2wi5v2QjrP/xp" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.min.js" integrity="sha384-cn7l7gDp0eyniUwwAZgrzD06kc/tftFf19TOAs2zVinnD/C7E91j9yyk5//jjpt/" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <title>CRUD</title>
</head>
<body>
<div class="container mt-5">
    <h2 align="center">CRUD</h2>
    <a th:href="@{/view/{type}(type='USER')}" ><i class="fa fa-edit" ></i>&nbsp; List of Students</a>
    <a th:href="@{/view/{type}(type='PROVIDER')}" ><i class="fa fa-edit" ></i>&nbsp; List of Teachers</a>
    <a th:href="@{/view/{type}(type='CONTROL')}" ><i class="fa fa-edit" ></i>&nbsp; List of Admins</a>
    <a th:href="@{/view/{type}(type='CONTROLLER')}" ><i class="fa fa-edit" ></i>&nbsp; List of Super</a>
    <p align="center"><a th:href="@{/add}" class="btn btn-info">My Account</a></p>
     TABLE USERS
    <table class="table table-bordered table-sm">
        <thead>
        <tr>
            <th>Id</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Email</th>
            <th>Type</th>
            <th>Level (Department)</th>
            <th>Action</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="l : ${list}" th:field="${l}">
            <td th:text="${l.id}"></td>
            <td th:text="${l.firstName}"></td>
            <td th:text="${l.lastName}"></td>
            <td th:text="${l.email}"></td>
            <td th:text="${l.type}"></td>
            <td th:text="${l.level}"></td>
            <td>
            <div>
                <a th:href="@{/update/{id}(id=${l.id})}" ><i class="fa fa-edit" ></i></a>
                <a th:href="@{/delete/{id}(id=${l.id})}" ><i class="fa fa-remove"></i></a>
            </div>
            </td>
        </tr>
        </tbody>
    </table>

<!--    TABLE 1-->
<!--    <H3>-->
<!--        STUDENTS LISTS-->
<!--    </H3>-->
<!--    <table class="table table-bordered table-sm">-->
<!--        <thead>-->
<!--        <tr>-->
<!--            <th>Id</th>-->
<!--            <th>First Name</th>-->
<!--            <th>Last Name</th>-->
<!--            <th>Email</th>-->
<!--            <th>Action</th>-->
<!--        </tr>-->
<!--        </thead>-->
<!--        <tbody>-->
<!--        <tr th:each="l : ${list1}" th:field="${l}">-->
<!--            <td th:text="${l.id}"></td>-->
<!--            <td th:text="${l.firstName}"></td>-->
<!--            <td th:text="${l.lastName}"></td>-->
<!--            <td th:text="${l.email}"></td>-->
<!--            <td >-->
<!--                <div >-->
<!--                    <a th:href="@{/update/{id}(id=${l.id})}" ><i class="fa fa-edit" ></i>&nbsp;Edit</a>-->
<!--                    <a th:href="@{/delete/{id}(id=${l.id})}" ><i class="fa fa-remove"></i>&nbsp;Delete</a>-->
<!--                </div>-->
<!--            </td>-->
<!--        </tr>-->
<!--        </tbody>-->
<!--    </table>-->

<!--    &lt;!&ndash;    TABLE 2&ndash;&gt;-->
<!--    <H3>-->
<!--       TEACHER LISTS-->
<!--    </H3>-->

<!--    <table class="table table-bordered table-sm">-->
<!--        <thead>-->
<!--        <tr>-->
<!--            <th>Id</th>-->
<!--            <th>First Name</th>-->
<!--            <th>Last Name</th>-->
<!--            <th>Department</th>-->
<!--            <th>Email</th>-->
<!--            <th>Action</th>-->
<!--        </tr>-->
<!--        </thead>-->
<!--        <tbody>-->
<!--        <tr th:each="l : ${list2}" th:field="${l}">-->
<!--            <td th:text="${lStat.index+1}"></td>-->
<!--            <td th:text="${l.firstName}"></td>-->
<!--            <td th:text="${l.lastName}"></td>-->
<!--            <td th:text="${l.department}"></td>-->
<!--            <td th:text="${l.email}"></td>-->
<!--            <td >-->
<!--                <div >-->
<!--                    <a th:href="@{/update/{id}(id=${l.id})}" ><i class="fa fa-edit" ></i>&nbsp;Edit</a>-->
<!--                    <a th:href="@{/delete/{id}(id=${l.id})}" ><i class="fa fa-remove"></i>&nbsp;Delete</a>-->
<!--                </div>-->
<!--            </td>-->
<!--        </tr>-->
<!--        </tbody>-->
<!--    </table>-->

<!--    &lt;!&ndash;    TABLE 3&ndash;&gt;-->

<!--    <H3>-->
<!--        ADMINS LISTS-->
<!--    </H3>-->

<!--    <table class="table table-bordered table-sm">-->
<!--        <thead>-->
<!--        <tr>-->
<!--            <th>Id</th>-->
<!--            <th>First Name</th>-->
<!--            <th>Last Name</th>-->
<!--            <th>Email</th>-->
<!--            <th>Action</th>-->
<!--        </tr>-->
<!--        </thead>-->
<!--        <tbody>-->
<!--        <tr th:each="l : ${list3}" th:field="${l}">-->
<!--            <td th:text="${lStat.index+1}"></td>-->
<!--            <td th:text="${l.firstName}"></td>-->
<!--            <td th:text="${l.lastName}"></td>-->
<!--            <td th:text="${l.email}"></td>-->
<!--\           <td>-->
<!--                <div>-->
<!--                    <a th:href="@{/update/{id}(id=${l.id})}" ><i class="fa fa-edit" ></i>&nbsp;Edit</a>-->
<!--                    <a th:href="@{/delete/{id}(id=${l.id})}" ><i class="fa fa-remove"></i>&nbsp;Delete</a>-->
<!--                </div>-->
<!--            </td>-->
<!--        </tr>-->
<!--        </tbody>-->
<!--    </table>-->
</div>
</body>
</html>